# Fichiers générés par Visual Studio
.vscode
.code-workspace

# Build et binaires
.obj
.exe
.dll
.pdb
.ilk
.lib
.exp
.idb
.ipdb
.iobj

# Fichiers de logs et temporaires
.log
.tlog
.lastbuildstate

# CMake et Makefiles
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Répertoires de build
[Bb]uild
[Dd]ebug
[Rr]elease
x64
x86
ARM
ARM64

# Fichiers de configuration de Visual Studio
.suo
.user
.vcxproj.user
.VC.db
.VC.opendb
.vs

# Dépendances locales
packages
node_modules